{% extends 'layout.html' %}

{% block content %}
<p>Submit Component to Wgen Shelf</p>


<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="componentName">Name</label>
    <div class="controls">
      <input type="text" id="componentName" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="componentDesc">Description</label>
    <div class="controls">
      <textarea rows="5" id="componentDesc" placeholder="Description"></textarea>
    </div>
  </div>
  <div class="form-actions">
  	<button type="submit" class="btn btn-primary">Save changes</button>
  	<button type="button" class="btn">Cancel</button>
  </div>
</form>

{% endblock %}