{% extends 'layout.html' %}

{% block content %}
<form method="POST" action= "/wgenshelf/submitcomponent" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="componentName">Name</label>
    <div class="controls">
      <input type="text" name="componentName" id="componentName" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="componentDesc">Description</label>
    <div class="controls">
      <textarea rows="5" name="componentDesc" id="componentDesc" placeholder="Description"></textarea>
    </div>
  </div>
  <div class="form-actions">
  	<button type="submit" class="btn btn-primary">Save changes</button>
  	<button type="button" href="/" class="btn">Cancel</button>
  </div>
</form>

{% endblock %}