{% extends 'layout.html' %}

{% block content %}
<div class="hero-unit">
  <h1>Welcome to Wgen Shelf!!!</h1>
  <p>Good coders code, Great reuse</p>
  <p>
    <a href="/wgenshelf/components" class="btn btn-primary btn-large">
      Reuse Now
    </a>
  </p>
</div>
<div class="row">
    <div class="span4">
      <h2>Cut</h2>
      <p>In computer science and software engineering, reusability is the likelihood a segment of source code that can be used again to add new functionalities with slight or no modification. Reusable modules and classes reduce implementation time, increase the likelihood that prior testing and use has eliminated bugs and localizes code modifications when a change in implementation is required. </p>
      <p><a class="btn btn-info" href="/wgenshelf/components">Browse Wgen Shelf &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Copy</h2>
      <p>In the simplest definition, generic programming is a style of computer programming in which algorithms are written in terms of to-be-specified-later types that are then instantiated when needed for specific types provided as parameters. </p>
      <p><a class="btn btn-info" href="#">Search Wgen Shelf &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Paste</h2>
      <p>In software engineering, extensibility (not to be confused with forward compatibility) is a system design principle where the implementation takes into consideration future growth. It is a systemic measure of the ability to extend a system and the level of effort required to implement the extension. Extensions can be through the addition of new functionality or through modification of existing functionality.</p>
      <p><a class="btn btn-info" href="/wgenshelf/addcomponent">Submit to Shelf &raquo;</a></p>
    </div>
 </div>
{% endblock %}